@import 'lib/base';

body {
  background-color: hsl(220, 20%, 3%);

  font-family: 'Avenir Next', 'PT Sans Narrow', sans-serif;
}

#splash {
  position: absolute;
  top: 0;
  z-index: -1;

  margin: 0 auto;

  width: 100%;
  height: 60%;
  min-height: 600px;

  background: url('../images/splash.jpg') center 102%/auto no-repeat;
}

.header {
  position: absolute;
  top: 0;

  background-color: transparentize($neutralPrimary, 0.8);
}

.outer {
  @include size(100%, 9rem);

  .inner {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));

    height: 5.8rem;

    border-top: 1px solid $neutralPrimary;
    border-bottom: 1px solid $neutralPrimary;

    #title {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));

      font-weight: bold;
      font-size: 3.6rem;

      cursor: default;
      @include user-select(none);
      text-transform: uppercase;
    }
  }
}

#home-navigation {
  position: relative;
  top: 18rem;

  font-size: 0;
  text-align: center;

  @include user-select(none);

  ul {
    width: 95vw;
    padding: 0;
    margin: 0 auto;

    list-style: none;

    li {
      padding: 0 1.6rem;
      margin-bottom: 2rem;

      background-color: hsla(0, 0%, 100%, 0.8);
      box-shadow: inset 0 0 0 3px $black;
      border: 1px solid $neutralPrimary;

      transition: background-color 0.2s ease-out,
                  box-shadow 0.2s ease-out,
                  border 0.2s ease-out;

      &:hover,
      &.active {
        background-color: $black;
        box-shadow: inset 0 0 0 3px $neutralPrimary;

        a {
          color: $neutralPrimary;
        }
      }

      a {
        font-weight: bold;
        font-size: 3.6rem;

        color: hsl(204, 4%, 23%);
        text-transform: uppercase;
        text-decoration: none;

        transition: color 0.2s ease-out;
      }
    }
  }
}

.container-fluid {
  position: relative;

  width: 100%;
  min-height: 800px; /* TODO: Remove after data is in place maybe? */
  margin-top: 26rem;

  background-color: $primary;
  border-top: 12px solid $accent;

  #storefront {
    font-size: 0;
  }
}

.product {
  width: 22.4rem;
  margin: 0 auto;

  .display {
    position: relative;

    height: 20.9rem;

    @include user-select(none);

    border: 2px solid $accent;

    .image {
      height: 100%;

      .front {
        position: relative;
      }

      .back {
        position: absolute;
        top: 0;

        @include transform(rotateY(-180deg));
      }

      .front,
      .back {
        @include size(100%);

        text-align: center;
        @include backface-visibility(hidden);

        transition: transform 0.2s ease-out;
      }

      .front img,
      .back img {
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));

        height: 18rem;
      }
    }

    .flip {
      position: absolute;
      top: 0;
      right: 0;

      @include size(3.2rem);

      font-size: 2rem;

      color: $accent;
      background-color: $primary;
      border-left: 2px solid $accent;
      border-bottom: 2px solid $accent;

      cursor: pointer;
      transition: color 0.2s ease-out,
                  background-color 0.2s ease-out,
                  box-shadow 0.2s ease-out;

      &:hover {
        color: $primary;
        background-color: $accent;
        box-shadow: inset 0 0 0 1px $primary;
      }

      .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
  }

  .actions {
    @include size(100%, 5.5rem);

    font-size: 0;

    @include user-select(none);

    border-right: 2px solid $accent;
    border-bottom: 2px solid $accent;
    border-left: 2px solid $accent;

    .action {
      position: relative;

      display: inline-block;
      overflow: auto;

      width: 25%;
      height: 100%;

      font-size: 2rem;

      color: $accent;
      background-color: $primary;
      border-right: 2px solid $accent;

      cursor: pointer;
      transition: color 0.2s ease-out,
                  background-color 0.2s ease-out,
                  box-shadow 0.2s ease-out;

      &:last-of-type {
        border-right: none;
      }

      &:hover {
        color: $primary;
        background-color: $accent;
        box-shadow: inset 0 0 0 1px $primary;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }

      &.dropdown-trigger.color {
        span {
          @include make-square(2.4rem, $black);

          transition: box-shadow 0.2s ease-out;
        }

        &:hover {
          span {
            border: 2px solid $black;
            box-shadow: inset 0 0 0 1px $accent;
          }
        }
      }
    }
  }

  .information {
    margin-top: 0.6rem;

    font-size: 1.6rem;
    font-weight: regular;

    color: darken($accent, 15%);

    .price {
      float: right;
    }
  }

  &.flipped > .display > .image {
    .front {
      @include transform(rotateY(-180deg));
    }

    .back {
      @include transform(rotateY(0));
    }
  }
}

#shopping-cart-toggle {
  position: absolute;
  top: 0;
  right: 0;

  box-sizing: content-box;
  @include size(5.5rem);

  font-size: 2.4rem;

  color: $accent;
  background-color: $primary;
  border-left: 2px solid $accent;
  border-bottom: 2px solid $accent;

  cursor: pointer;
  transition: color 0.2s ease-out,
              background-color 0.2s ease-out;

  &:hover {
    color: $primary;
    background-color: $accent;
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

#shopping-cart {
  position: absolute;
  top: 5.5rem;
  right: -24rem;

  width: 24rem;
  padding: 2rem;

  font-size: 0;

  color: darken($accent, 15%);
  background-color: $primary;
  border-top: 2px solid $accent;
  border-left: 2px solid $accent;
  border-bottom: 2px solid $accent;

  text-align: right;
  transition: right 0.2s ease-out;

  &.open {
    right: -2px;
  }

  #checkout {
    #order {
      font-size: 2rem;
      font-weight: bold;

      text-transform: uppercase;
    }

    hr {
      margin: 0 0 1.2rem 0;
      padding: 0;
      border: 1px solid $accent;

      &:last-of-type {
        border-style: dotted;
        margin: 0.4rem 0 0.4rem 0;
      }
    }

    span {
      font-size: 1.6rem;

      &.label {
        float: left;
      }
    }
  }
}

/* 543px <= */
@include media-breakpoint-down(sm) {
  .product {
    margin-top: 3rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
}

/* 768px >= */
@include media-breakpoint-up(md) {
  .container-fluid {
    padding: 1rem 5rem;
  }

  .product {
    display: inline-block;
    margin-top: 3rem;
    margin-right: 3rem;
  }
}

/* 992px >= */
@include media-breakpoint-up(lg) {
  #home-navigation {
    text-align: right;

    ul {
      margin-right: 4rem;

      li {
        display: inline-block;

        background-color: hsla(0, 0%, 100%, 0.2);
        box-shadow: inset 0 0 0 1px $neutralPrimary;

        &:hover,
        &.active {
          background-color: $neutralPrimary;
          box-shadow: inset 0 0 0 3px $neutralPrimary;
          border-color: $black;

          a {
            color: hsl(204, 4%, 23%);
          }
        }

        a {
          color: $neutralPrimary;
        }
      }
    }
  }
}
