@import 'lib/base';

#splash {
  position: absolute;
  top: 0;

  margin: 0 auto;

  width: 100%;
  height: 60%;
  min-height: 600px;

  background: url('../images/splash.jpg') center 102%/auto no-repeat;
}

.header {
  position: absolute;
  top: 0;

  background-color: transparentize($neutralPrimary, 0.8%);
}

.outer {
  @include size(100%, 9rem);

  .inner {
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));

    height: 5.8rem;

    border-top: 1px solid $neutralPrimary;
    border-bottom: 1px solid $neutralPrimary;

    #title {
      position: absolute;
      left: 50%;
      top: 50%;
      @include transform(translate(-50%, -50%));

      font-weight: bold;
      font-size: 3.6rem;

      cursor: default;
      @include user-select(none);
      text-transform: uppercase;
    }
  }
}

#home-navigation {
  position: relative;
  top: 18rem;

  font-size: 0;
  text-align: center;

  @include user-select(none);

  ul {
    width: 95vw;
    padding: 0;
    margin: 0 auto;

    list-style: none;

    li {
      margin-bottom: 2rem;

      a {
        display: block;

        padding: 0 1.6rem;

        background-color: hsla(0, 0%, 100%, 0.8);
        box-shadow: inset 0 0 0 3px $black;
        border: 1px solid $neutralPrimary;

        text-decoration: none;

        transition: background-color 0.2s ease-out,
                    box-shadow 0.2s ease-out,
                    border 0.2s ease-out;

        span {
          position: relative;
          top: 0.3rem;

          font-weight: bold;
          font-size: 3.6rem;

          color: hsl(204, 4%, 23%);
          text-transform: uppercase;

          transition: color 0.2s ease-out;
        }
      }

      &:hover > a,
      &.active > a {
        background-color: $black;
        box-shadow: inset 0 0 0 3px $neutralPrimary;

        span {
          color: $neutralPrimary;
        }
      }
    }
  }
}

.container-fluid {
  position: relative;

  width: 100%;
  min-height: 800px; /* TODO: Remove after data is in place maybe? */
  margin-top: 26rem;

  overflow-x: hidden;

  background-color: $primary;
  border-top: 12px solid $accent;

  .container {
    margin-top: 3rem;
  }

  #storefront {
    font-size: 0;
  }
}

.product {
  width: 22.4rem;
  margin: 0 auto;

  .display {
    position: relative;

    height: 20.9rem;

    @include user-select(none);

    border: 2px solid $accent;

    .image {
      height: 100%;

      .front {
        position: relative;
      }

      .back {
        position: absolute;
        top: 0;

        @include transform(rotateY(-180deg));
      }

      .front,
      .back {
        @include size(100%);

        text-align: center;
        @include backface-visibility(hidden);

        transition: transform 0.2s ease-out;
      }

      .front img,
      .back img {
        position: relative;
        top: 50%;
        @include transform(translateY(-50%));

        height: 18rem;
      }
    }

    .flip {
      position: absolute;
      top: 0;
      right: 0;

      @include size(3.2rem);

      font-size: 2rem;

      color: $accent;
      background-color: $primary;
      border-left: 2px solid $accent;
      border-bottom: 2px solid $accent;

      cursor: pointer;
      transition: color 0.2s ease-out,
                  background-color 0.2s ease-out,
                  box-shadow 0.2s ease-out;

      &:hover {
        color: $primary;
        background-color: $accent;
        box-shadow: inset 0 0 0 1px $primary;
      }

      .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
  }

  .actions {
    @include size(100%, 5.5rem);

    font-size: 0;

    @include user-select(none);

    border-right: 2px solid $accent;
    border-bottom: 2px solid $accent;
    border-left: 2px solid $accent;

    .action {
      position: relative;

      display: inline-block;
      overflow: auto;

      width: 25%;
      height: 100%;

      font-size: 2rem;

      color: $accent;
      background-color: $primary;
      border-right: 2px solid $accent;

      cursor: pointer;
      transition: color 0.2s ease-out,
                  background-color 0.2s ease-out,
                  box-shadow 0.2s ease-out;

      &:last-of-type {
        border-right: none;
      }

      &:hover {
        color: $primary;
        background-color: $accent;
        box-shadow: inset 0 0 0 1px $primary;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
      }

      &.dropdown-trigger.color {
        span {
          @include make-square(2.4rem, $black);

          transition: box-shadow 0.2s ease-out;
        }

        &:hover {
          span {
            border: 2px solid $black;
            box-shadow: inset 0 0 0 1px $accent;
          }
        }
      }
    }
  }

  .information {
    margin-top: 0.6rem;

    font-size: 1.6rem;
    font-weight: regular;

    color: darken($accent, 15%);

    .price {
      float: right;
    }
  }

  &.flipped > .display > .image {
    .front {
      @include transform(rotateY(-180deg));
    }

    .back {
      @include transform(rotateY(0));
    }
  }

  &.carted {
    .display {
      border-color: $secondary;

      transition: border-color 0.2s ease-out;
    }

    .flip {
      color: $secondary;
      border-color: $secondary;

      transition: color 0.2s ease-out,
                  border-color 0.2s ease-out;
    }

    .actions {
      border-color: $secondary;

      transition: border-color 0.2s ease-out;

      .action {
        color: $secondary;
        border-color: $secondary;

        transition: color 0.2s ease-out,
                    border-color 0.2s ease-out;
      }
    }
  }
}

#shopping-cart-toggle {
  position: absolute;
  top: 0;
  right: 0;

  box-sizing: content-box;
  @include size(5.5rem);

  font-size: 2.4rem;

  color: $accent;
  background-color: $primary;
  border-left: 2px solid $accent;
  border-bottom: 2px solid $accent;

  cursor: pointer;
  transition: color 0.2s ease-out,
              background-color 0.2s ease-out;

  &:hover {
    color: $primary;
    background-color: $accent;
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
}

#shopping-cart {
  position: absolute;
  top: 5.5rem;
  right: calc(-100% - 2px);

  max-width: calc(100% + 2px);
  max-height: 48rem;
  padding: 2rem;
  overflow-y: scroll;

  font-size: 0;

  color: darken($accent, 15%);
  background-color: $primary;
  border-top: 2px solid $accent;
  border-left: 2px solid $accent;
  border-bottom: 2px solid $accent;

  text-align: right;
  transition: right 0.2s ease-out;

  &.open {
    right: -2px;
  }

  #items {
    display: none;

    &.active {
      display: initial;
    }

    .item {
      font-size: 1.6rem;

      color: darken($accent, 15%);

      .name {
        font-weight: bold;

        .color {
          position: relative;
          top: 0.2rem;

          display: inline-block;

          @include size(1.5rem);
        }
      }

      .date-added {
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      .remove {
        cursor: pointer;
        @include user-select(none);
        color: $secondary;
      }

      div:nth-of-type(6) {
        margin-top: 1rem;
      }
    }

    hr {
      border: 1px dotted $accent;

      &:last-of-type {
        margin-bottom: 2rem;

        border: none;
      }
    }
  }

  #checkout {
    #order {
      font-size: 2rem;
      font-weight: bold;

      text-transform: uppercase;
    }

    hr {
      margin: 0 0 1.2rem 0;
      padding: 0;
      border: 1px solid $accent;

      &:last-of-type {
        border-style: dotted;
        margin: 0.4rem 0 0.4rem 0;
      }
    }

    span {
      font-size: 1.6rem;

      &.label {
        float: left;
      }
    }
  }
}

#contact {
  @include make-row();

  #form {
    @include make-col(12);

    label {
      font-size: 1.6rem;

      color: darken($accent, 25%);
    }

    input,
    textarea {
      display: block;

      margin-bottom: 2rem;

      font-size: 1.4rem;

      outline: none;
      color: darken($accent, 25%);
      background-color: lighten($primary, 2%);
      border: 2px solid lighten($accent, 15%);

      transition: border 0.2s ease-out,
                  box-shadow 0.2s ease-out;

      &:focus {
        border-color: $accent;
        box-shadow: inset 0 0 0 2px $accent;
      }
    }

    input {
      height: 3.4rem;
      padding: 0 1rem;
    }

    textarea {
      height: 12rem;
      padding: 0.6rem 1rem;

      resize: none;
    }
  }

  #address {
    @include make-col(12);

    padding: 0 1.5rem;

    font-size: 1.8rem;

    color: darken($accent, 25%);
    text-align: right;

    div:nth-of-type(2) {
      margin-bottom: 1rem;
    }

    hr:last-of-type {
      margin: 1.5rem 0;

      border-color: lighten($accent, 15%);
      border-style: dotted;
    }

    #map {
      height: 0;
      padding-bottom: 100%;

      border: 2px solid $accent;

      &:after {
        content: '';

        display: block;
        position: relative;

        @include size(100%);

        pointer-events: none;
        background-color: transparentize($accent, 0.85);
      }
    }
  }

  #form > hr,
  #address > hr {
    border-style: dotted;
  }
}

/* 543px <= */
@include media-breakpoint-down(sm) {
  #storefront {
    margin-top: 12rem;
  }

  .product {
    margin-top: 3rem;

    &:last-of-type {
      margin-bottom: 3rem;
    }
  }

  #contact {
    #form {
      padding-left: 9vw;
      margin-bottom: 2rem;

      input,
      textarea {
        width: 70vw;
      }
    }

    #address {
      #map {
        margin-bottom: 3rem;
      }
    }
  }
}

/* 768px >= */
@include media-breakpoint-up(md) {
  .container-fluid {
    padding: 1rem 5rem;
  }

  .product {
    display: inline-block;
    margin-top: 3rem;
    margin-right: 3rem;
  }

  #shopping-cart {
    right: -24rem;

    max-width: 24rem;
  }

  #contact {
    @include make-row();

    #form {
      @include make-col(8);

      input,
      textarea {
        max-width: 45rem;
        width: 60%;
      }
    }

    #address {
      @include make-col(4);
    }
  }
}

/* 992px >= */
@include media-breakpoint-up(lg) {
  #home-navigation {
    text-align: right;

    ul {
      margin-right: 4rem;

      li {
        display: inline-block;

        a {
          display: block;

          background-color: hsla(0, 0%, 100%, 0.2);
          box-shadow: inset 0 0 0 1px $neutralPrimary;

          span {
            color: $neutralPrimary;
          }
        }

        &:hover > a,
        &.active > a {
          background-color: $neutralPrimary;
          box-shadow: inset 0 0 0 3px $neutralPrimary;
          border-color: $black;

          span {
            color: hsl(204, 4%, 23%);
          }
        }
      }
    }
  }
}
